<div class="row" ng-controller="ExchangeBeanResultCtrl as dc " ng-init="dc.init()">

    <div class="row">
        <h1>
            金豆兑换话费处理
        </h1>
        <hr>
    </div>
    <div class="well well-lg">
        <form class="form-inline" role="form">
            <div>
                <div class="form-group">
                    <label class="control-label">手机号：</label>
                    <input type="text" class="form-control" ng-model="dc.pager.filter.LIKES_registerMobile" placeholder="注册手机号" name="LIKES_registerMobile">
                    <label class="control-label">状态：</label>
                    <select class="form-control" ng-model="dc.pager.filter.EQI_status" placeholder="状态" name="EQI_status">
                        <option value="">全部</option>
                        <option value="1">等待兑换</option>
                        <option value="3">兑换中</option>
                        <option value="4">兑换成功</option>
                        <option value="5">兑换失败</option>
                    </select>

                    <label class="control-label">开始时间：</label>
                    <input  type="text" class="form-control" ui-date  ng-model="dc.pager.filter.GED_beginTime" placeholder="开始时间" name="GED_beginTime">
                    <label class="control-label">结束时间：</label>
                    <input  type="text" class="form-control" ui-date  ng-model="dc.pager.filter.LTD_endTime" placeholder="结束时间" name="LTD_endTime">

                </div>
                <p class="text-right">
                    <a class="btn btn-primary submit"  ng-click="dc.findExchangeBeanResults()">查询</a>
                    <a class="btn btn-primary submit"   ng-click="open()">上传excel</a>
                    <a href="{{dc.exportUrl}}?EQI_status={{ dc.pager.filter.EQI_status }}&GED_beginTime={{ dc.pager.filter.GED_beginTime }}&LTD_endTime={{ dc.pager.filter.LTD_endTime }}&LIKES_mobile={{ c.pager.filter.LIKES_mobile}}">导出</a>
                </p>
            </div>

            <div class="gridStyle" ng-grid="gridOptions" ng-page-changed="dc.findExchangeBeanResults()"></div>
        </form>
    </div>

    <script type="text/ng-template" id="exchangeBeanResultModalContent.html">
        <table>
            <tbody>
            <div class="modal-header">
                <button aria-hidden="true" data-dismiss="modal" class="close" type="button" ng-click="cancel()">×</button>
            </div>

            <div class="modal-body">
                <label class="control-label">上传文件：</label>
            <span class="btn btn-success fileinput-button" ng-disabled="uploaderExcel.queue.length">
                    <i class="glyphicon glyphicon-plus"></i>
                    <span>添加文件</span>
                    <input type="file" class="file  btn btn-success fileinput-button" nv-file-select=""
                           uploader="uploaderExcel" ng-model="row.image">
            </span>

                <div ng-repeat="item in uploaderExcel.queue">
                    <br>
                    <alert close="removeAlert()" dismiss-on-timeout="500" ng-hide="alertFlag">{{errorMessage.message.summary}}</alert>
                    </a>
                    <div>名称: {{ item.file.name }}</div>
                    <div>大小: {{ item.file.size/1024/1024|number:2 }} Mb</div>
                    <div ng-show="uploaderExcel.isHTML5">
                        进度:
                        <progressbar class="progress-striped" value="item.progress" type="success" max="100">{{
                            item.progress }}%
                        </progressbar>
                    </div>
                    <div>
                        <button type="button" class="btn btn-primary start" ng-click="item.upload()"
                                ng-disabled="item.isReady || item.isUploading || item.isSuccess">
                            <i class="glyphicon glyphicon-upload"></i>
                            <span>开始上传</span>
                        </button>
                        <button type="button" class="btn btn-warning cancel" ng-click="item.cancel()"
                                ng-disabled="!item.isUploading">
                            <i class="glyphicon glyphicon-ban-circle"></i>
                            <span>取消上传</span>
                        </button>
                        <button type="button" class="btn btn-danger delete" ng-click="removed(item)">
                            <i class="glyphicon glyphicon-trash"></i>
                            <span>删除</span>
                        </button>
                    </div>
                </div>
            </div>
            </tbody>
        </table>
    </script>


</div>
