
<div class="row" ng-controller="ActivityCtrl as dc" ng-init="dc.init()" >
    <div class="row">
        <ol class="breadcrumb">
            <li><a ui-sref="dashboard.list">活动列表</a></li>
            <li class="active">活动列表</li>
        </ol>
    </div>


    <div class="well well-lg">
        <div class="middle-layout">
            <form class="form-inline " role="form">
                <div class="form-group">
                    <label class="control-label">ID：</label>
                    <input type="text" class="form-control" ng-model="dc.condition.id" placeholder="id">
                    <label class="control-label">标题：</label>
                    <input type="text" class="form-control" ng-model="dc.condition.title" placeholder="标题">
                    <a class="btn btn-primary submit" ng-click="dc.findActivities()">查询</a>
                    <a class="btn btn-primary submit" ng-click="open()">添加活动</a>
                </div>
            </form>
        </div>
        <div class="gridStyle" ng-grid="gridOptions"></div>
    </div>



    <script type="text/ng-template" id="activityModalContent.html">
        <div class="modal-header">
            <button aria-hidden="true" data-dismiss="modal" class="close" type="button" ng-click="cancel()">×</button>
            <h4 id="activityModalLabel" class="modal-title">活动</h4>
        </div>
        <form role="form" ng-submit="ok()">
            <div class="modal-body container col-md-30">
                <div class="row form-row">
                    <div class="col-md-2 form-label">
                        <label class="control-label">活动标题：</label>
                    </div>
                    <div class="col-md-5">
                        <input class="form-control" type="text" name="title" required
                               ng-model="row.title">
                    </div>
                </div>

                <div class="row form-row">
                    <div class="col-md-2 form-label">
                        <label class="control-label">开始时间：</label>
                    </div>
                    <div class="col-md-3">
                        <input  class="form-control" required ui-date  ng-model="row.beginTime" >
                    </div>
                    <div class="col-md-2 form-label">
                        <label class="control-label">结束时间：</label>
                    </div>
                    <div class="col-md-3">
                        <input class="form-control" required ui-date  ng-model="row.endTime" >
                    </div>
                </div>

                <div class="row form-row">
                    <div class="col-md-2 form-label">
                        <label class="control-label">活动状态：</label>
                    </div>
                    <div class="col-md-3">
                        <select class="form-control" ng-model="row.status"
                                ng-options="item.key as item.value for item in constant.status" required>
                        </select>
                    </div>
                    <div class="col-md-2 form-label">
                        <label class="control-label">活动场景：</label>
                    </div>
                    <div class="col-md-3">
                        <select class="form-control" ng-model="row.scene"
                                ng-options="item.key as item.value for item in constant.scenes" required>
                        </select>
                    </div>
                </div>

                <div class="row form-row">
                    <div class="col-md-2 form-label">
                        <label class="control-label">图片名称：</label>
                    </div>
                    <div class="col-md-3">
                        <input class="form-control" type="text" name="image" required
                               ng-model="row.image">
                    </div>
                    <div class="col-md-2 form-label">
                        <label class="control-label">html5名称：</label>
                    </div>
                    <div class="col-md-3">
                        <input class="form-control" type="text" name="url" required
                               ng-model="row.url">
                    </div>
                </div>

                <input class="form-control" type="hidden" name="validTime"
                       ng-model="row.ruleId">
            </div>

            <div class="modal-footer">
                <button type="submit" class="btn btn-success">确定</button>
                <button type="button" class="btn btn-warning" ng-click="cancel()">取消</button>
            </div>
        </form>

    </script>

    <script type="text/ng-template" id="obtainRuleModalContent.html">
        <div class="modal-header">
            <button aria-hidden="true" data-dismiss="modal" class="close" type="button" ng-click="cancel()">×</button>
            <h4 id="obtainRuleModalLabel" class="modal-title">活动维护</h4>
        </div>
        <div>
            <ul class="nav nav-tabs" ng-init="vm.activeTab=1">
                <li ng-class="{active: vm.activeTab == 1}"><a href="javascript:;" ng-click="vm.activeTab = 1">获取规则</a></li>
            </ul>
            <div class="tab-content tab-bordered">
                <div class="tab-panel" ng-show="vm.activeTab == 1">
                    <p class="text-right">
                        <a class="btn btn-primary submit" ng-click="queryrule()">查询</a>
                        <a class="btn btn-primary submit" ng-click="addrule()">添加</a>
                    </p>

                    <div class="gridStyle-little" ng-grid="gridOptions"></div>
                    <form role="form" ng-submit="okRule()">
                        <div class="modal-body container col-md-12">
                            <div class="row form-row">
                                <div class="col-md-2 form-label">
                                    <label class="control-label">奖励类型：</label>
                                </div>
                                <div class="col-md-3">
                                    <select class="form-control" ng-model="rule.rewardType"
                                            ng-options="item.key as item.value for item in ruleConstant.rewardTypes" required>
                                    </select>
                                </div>
                                <div class="col-md-2 form-label">
                                    <label class="control-label">规则状态：</label>
                                </div>
                                <div class="col-md-3">
                                    <select class="form-control" ng-model="rule.status"
                                            ng-options="item.key as item.value for item in ruleConstant.status" required>
                                    </select>
                                </div>
                            </div>

                            <div class="row form-row">
                                <div class="col-md-2 form-label">
                                    <label class="control-label">应发奖励：</label>
                                </div>
                                <div class="col-md-3">
                                    <input class="form-control" type="text" name="limitTime" required
                                           ng-model="rule.shouldReward">
                                </div>
                                <div class="col-md-2 form-label">
                                    <label class="control-label">实发奖励：</label>
                                </div>
                                <div class="col-md-3">
                                    <input class="form-control" type="text" name="limitTime" required
                                           ng-model="rule.realReward">
                                </div>
                            </div>

                            <div class="row form-row">
                                <div class="col-md-2 form-label">
                                    <label class="control-label">到账实效：</label>
                                </div>
                                <div class="col-md-3">
                                    <select class="form-control" ng-model="rule.effectTime"
                                            ng-options="item.key as item.value for item in ruleConstant.effectTimes">
                                    </select>
                                </div>
                                <div class="col-md-2 form-label">
                                    <label class="control-label">有效时长：</label>
                                </div>
                                <div class="col-md-3">
                                    <select class="form-control" ng-model="rule.validTime"
                                            ng-options="item.key as item.value for item in ruleConstant.validTimes">
                                    </select>
                                </div>
                            </div>

                            <div class="row form-row">
                                <div class="col-md-2 form-label">
                                    <label class="control-label">是否推荐人：</label>
                                </div>
                                <div class="col-md-3">
                                    <select class="form-control" ng-model="rule.inviter"
                                            ng-options="item.key as item.value for item in ruleConstant.isInviters" required>
                                    </select>
                                </div>
                            </div>
                            <input class="form-control" type="hidden" name="activityId"
                                   ng-model="activityId">
                        </div>
                        <div class="modal-footer">
                            <button type="submit" class="btn btn-success">确定</button>
                            <button type="button" class="btn btn-warning" ng-click="cancel()">取消</button>
                        </div>
                    </form>
                </div>

            </div>
        </div>
    </script>
</div>
