<div class="row" ng-controller="ActivityReturnMsgCtrl as dc " ng-init="init()">
    <div class="row">
        <ol class="breadcrumb">
            <li><a ui-sref="dashboard.errorMsg">活动错误信息管理</a></li>
            <li class="active">活动错误信息管理</li>
        </ol>
    </div>


    <div class="well well-lg">
        <div class="middle-layout">
            <form class="form-inline " role="form">
                <div class="form-group">
                    <label class="control-label">场景：</label>
                    <select class="form-control" ng-model="pager.filter.EQS_scene"
                            ng-options="item.key as item.value for item in constant.scenes">
                        <option value="" selected>请选择</option>
                    </select>
                    <label class="control-label">类型：</label>
                    <select class="form-control" ng-model="pager.filter.EQS_type"
                            ng-options="item.key as item.value for item in constant.activityTypes">
                        <option value="" selected>请选择</option>
                    </select>
                    <label class="control-label">奖励类型：</label>
                    <select class="form-control" ng-model="pager.filter.EQS_rewardType"
                            ng-options="item.key as item.value for item in constant.rewardTypes">
                        <option value="" selected>请选择</option>
                    </select>
                    <a class="btn btn-primary submit" ng-click="findReturnMsg()">查询</a>
                    <a class="btn btn-primary submit" ng-click="open()">添加</a>
                </div>
            </form>
        </div>
        <div class="gridStyle" ng-grid="gridOptions" ng-page-changed="findReturnMsg()"></div>
    </div>

    <script type="text/ng-template" id="activityReturnMsgModalContent.html">
        <div class="modal-header">
            <button aria-hidden="true" data-dismiss="modal" class="close" type="button" ng-click="cancel()">×</button>
            <h4 id="activityModalLabel" class="modal-title">活动</h4>
        </div>
        <form role="form" ng-submit="ok()">
            <div class="modal-body container col-md-12">
                <div class="row form-row">
                    <div class="col-md-3 form-label">
                        <label class="control-label">场景：</label>
                    </div>
                    <div class="col-md-3">
                        <select class="form-control" ng-model="msg.scene"
                                ng-options="item.key as item.value for item in constant.scenes">
                        </select>
                    </div>
                    <div class="col-md-3 form-label">
                        <label class="control-label">类型：</label>
                    </div>
                    <div class="col-md-3">
                        <select class="form-control" ng-model="msg.type"
                                ng-options="item.key as item.value for item in constant.activityTypes">
                            <option value="" selected>请选择</option>
                        </select>
                    </div>
                </div>

                <div class="row form-row">
                    <div class="col-md-3 form-label">
                        <label class="control-label">奖励类型：</label>
                    </div>
                    <div class="col-md-3">
                        <select class="form-control" ng-model="msg.rewardType"
                                ng-options="item.key as item.value for item in constant.rewardTypes">
                            <option value="" selected>请选择</option>
                        </select>
                    </div>
                    <div class="col-md-3 form-label">
                        <label class="control-label">作用种类：</label>
                    </div>
                    <div class="col-md-3">
                        <select class="form-control" ng-model="msg.category"
                                ng-options="item.key as item.value for item in constant.categories">
                            <option value="" selected>请选择</option>
                        </select>
                    </div>
                </div>

                <div class="row form-row">
                    <div class="col-md-3 form-label">
                        <label class="control-label">错误信息：</label>
                    </div>
                    <div class="col-md-3">
                        <select class="form-control" ng-model="msg.errorCode"
                                ng-options="item.key as item.value for item in constant.errorMsgs">
                            <option value="" selected>请选择</option>
                        </select>
                    </div>
                </div>

                <div class="row form-row">
                    <div class="col-md-3 form-label">
                        <label class="control-label">模版信息：</label>
                    </div>
                    <div class="col-md-8">
                        <input class="form-control" type="text" name="template" required
                               ng-model="msg.template">
                    </div>
                </div>
            </div>

            <div class="modal-footer">
                <button type="submit" class="btn btn-success">确定</button>
                <button type="button" class="btn btn-warning" ng-click="cancel()">取消</button>
            </div>
        </form>

    </script>


</div>
