<div class="row" ng-controller="MessageRuleMappingCtrl as mc" >
    <div class="row">
        <ol class="breadcrumb">
            <li><a>消息管理</a></li>
            <li class="active">规则和活动映射管理</li>
        </ol>
    </div>
    <div class="well well-lg">
        <div class="middle-layout">
            <form class="form-inline" role="form">
                <div class="form-group">
                    <label class="control-label">查询：</label>
                    <input type="text" class="form-control" ng-model="filterOptions.filterText.searchText1" placeholder="请输入你想查询的数据">
                    <a class="btn btn-primary submit" ng-click="addRule()">添加</a>
                </div>
            </form>
        </div>
        <div class="gridStyle" ng-grid="gridOptions"></div>
    </div>
</div>


<script type="text/ng-template" id="messagePushMappingModal.html">

    <div class="modal-header">
        <button aria-hidden="true" data-dismiss="modal" class="close" type="button" ng-click="cancel()">×</button>
        <h4 id="parameterModal" class="modal-title">规则和活动映射管理</h4>
    </div>
    <div class="alert alert-info" ng-show="!!error">
        <span ng-bind="error.message.detail"></span>
    </div>
    <form role="form" >
        <div class="modal-body">
            <label class="control-label">调用方法名：</label>
            <input class="form-control" type="text" name="name" required
                   ng-model="msgPushMapping.methodName">
            <label class="control-label">规则编码：</label>
            <input class="form-control" type="text" name="value" required
                   ng-model="msgPushMapping.ruleCode">
            <label class="control-label">活动场景：</label>
            <select class="form-control" ng-model="msgPushMapping.scene" ng-change="getActivityIdByScene(dict.scene)"
                    ng-options="item.key as item.value for item in constant.activityScene" required>
                <option value="">-- 请选择 --</option>
            </select>
            <label class="control-label">活动ID：</label>
            <select class="form-control" ng-model="msgPushMapping.activityId"
                    ng-options="item.keys as item.value for item in constant.activityId" required>
                <option value="">-- 请选择 --</option>
            </select>
            <label class="control-label">推送类型：</label>

            <select class="form-control" ng-model="msgPushMapping.messageType" required>
                <option value="" selected>-- 请选择 --</option>
                <option value="FP.PUSH.TYPE.1">系统公告</option>
                <option value="FP.PUSH.TYPE.2">活动公告</option>
                <option value="FP.PUSH.TYPE.3">交易公告</option>
                <option value="FP.PUSH.TYPE.4">登录提示公告</option>
            </select>

            <label class="control-label">有效标志：</label>
            <select class="form-control" ng-model="msgPushMapping.status" required>
                <option value="Y">有效</option>
                <option value="N">禁用</option>
            </select>

        </div>
        <div class="modal-footer">
            <button class="btn btn-primary" ng-click="ok()" >确定</button>
            <button class="btn btn-primary" ng-click="cancel()" >关闭</button>
        </div>
    </form>

</script>
