
<div class="row" ng-controller="TaskCtrl as tc">

    <div class="row" class="breadcrumb">
      <ol class="breadcrumb">
        <li><a ui-sref="dashboard.tasks">系统管理</a></li>
        <li class="active">任务列表</li>
      </ol>
    </div>

    <div class="well well-lg">
        <div class="alert alert-danger" ng-show="!!tc.error" ng-int="tc.listTasks()">
            <h4 class="alert-heading">操作失败</h4>
            <span ng-bind="tc.error.message.detail"></span>
        </div>
        <div class="middle-layout">
            <a class="btn btn-primary submit" ng-click="tc.createTask()">添加</a>
        </div>
        <div class="gridStyle" ng-grid="gridOptions" ng-page-changed="tc.listTasks()"></div>

    </div>

</div>

