<div class="row" ng-controller="MessagePushConfigCtrl as dc" >

    <div class="row">
        <h1>
            推送计划详情
        </h1>
        <hr>
    </div>

    <div class="row">

        <div class="alert alert-danger" ng-show="!!dc.error">
            <h4 class="alert-heading">操作失败</h4>
            <span ng-bind="dc.error.message.detail"></span>
        </div>
        <form role="form" ng-submit="dc.modifyMessPush()">
            <table>
                <tr>
                    <td>
                        <label class="control-label">配置描述：</label>
                    </td>
                    <td>
                        <input class="form-control" type="text" name="name"
                               ng-model="dc.dict.remarks" >
                    </td>

                    <td>
                        <label class="control-label">推送平台：</label>
                    </td>
                    <td>
                        <select class="form-control" ng-model="dc.dict.platform" >
                            <option value="" selected>请选择</option>
                            <option value="FP.PUSH.PLATFORM.1">ALL</option>
                            <option value="FP.PUSH.PLATFORM.2">Android</option>
                            <option value="FP.PUSH.PLATFORM.3">IOS</option>

                        </select>
                    </td>
                </tr>

                <tr>
                    <td>
                        <label class="control-label">推送类型：</label>
                    </td>
                    <td>


                        <select class="form-control" ng-model="dc.dict.pushtype" >
                            <option value="" selected>请选择</option>
                            <option value="FP.PUSH.TYPE.1">系统公告</option>
                            <option value="FP.PUSH.TYPE.2">活动公告</option>
                            <option value="FP.PUSH.TYPE.3">交易公告</option>

                        </select>
                    </td>

                    <td>
                        <label class="control-label">定时：</label>
                    </td>
                    <td>


                        <select class="form-control" ng-model="dc.dict.pushtimed" >
                            <option value="" selected>请选择</option>
                            <option value="Y">定时</option>
                            <option value="N" selected>即时</option>
                        </select>

                    </td>

                </tr>

                <tr>

                    <td>
                        <label class="control-label">计划开始时：</label>
                    </td>
                    <td>
                        <input class="form-control" type="text" name="title"  ui-date
                               ng-model="dc.dict.planbegintime">
                    </td>

                    <td>
                        <label class="control-label">计划截至时：</label>
                    </td>
                    <td>
                        <input class="form-control" type="text" name="content"  ui-date
                               ng-model="dc.dict.planendtime" >
                    </td>

                </tr>

                <tr>
                    <td>
                        <label class="control-label">创建时间：</label>
                    </td>
                    <td>
                        <input class="form-control" type="text" name="createtime"
                               ng-model="dc.dict.createtime" readonly="true">
                    </td>

                    <td>
                        <label class="control-label">上次更新时间：</label>
                    </td>
                    <td>
                        <input class="form-control" type="text" name="updatetime"
                               ng-model="dc.dict.updatetime" readonly="true">
                    </td>
                </tr>

                <tr>
                    <td>
                        <label class="control-label">有效标志：</label>
                    </td>
                    <td>

                        <select class="form-control" ng-model="dc.dict.status" >
                            <option value="" selected>请选择</option>
                            <option value="Y">可用</option>
                            <option value="N" selected>删除</option>
                        </select>
                    </td>

                </tr>

                <tr>
                    <td colspan="14" align="right">
                        <button type="submit" class="btn btn-success" >确定</button>
                        <a ui-sref="dashboard.messageConfig" class="btn btn-warning">取消</a>
                    </td>
                </tr>
            </table>
        </form>
    </div>

</div>