<div class="row" ng-controller="FundCtrl as fc" ng-init="fc.initSave()">
  <div class="dialog-contents">
    <div class="modal-header">
      <h4 class="modal-title">基金详情</h4>
    </div>
    <form role="form" class="form-horizontal">
      <div class="alert alert-danger" ng-show="!!error">
        <h4 class="alert-heading">操作失败</h4>
        <span ng-bind="error.message.detail"></span>
      </div>
      <div class="modal-body col-md-12">
        <div class="row form-row">
          <div class="col-md-2">
            <label class="control-label">基金编码：</label>
          </div>
          <div class="col-md-4">
            <input class="form-control" ng-model="fc.fund.fundcode" name="fundcode" required>
          </div>
          <div class="col-md-2">
            <label class="control-label">基金名称：</label>
          </div>
          <div class="col-md-4">
            <input class="form-control" ng-model="fc.fund.fundnameabbr" name="fundnameabbr" required>
          </div>
        </div>
        <div class="row form-row">
          <div class="col-md-2">
            <label class="control-label">净值日期：</label>
          </div>
          <div class="col-md-4">
            <input class="form-control" type="text" name="currDate"
                   ng-model="fc.fund.currDate">
          </div>
          <div class="col-md-2">
            <label class="control-label">基金类型：</label>
          </div>
          <div class="col-md-4">
            <input class="form-control" type="number" name="fundType"
                   ng-model="fc.fund.fundType">
          </div>
        </div>
        <div class="row form-row">
          <div class="col-md-2">
            <label class="control-label">投资类型：</label>
          </div>
          <div class="col-md-4">
            <input class="form-control" type="number" name="investmentType"
                   ng-model="fc.fund.investmentType">
          </div>
          <div class="col-md-2">
            <label class="control-label">单位净值：</label>
          </div>
          <div class="col-md-4">
            <input class="form-control" type="number" step="0.00001" name="netvalue"
                   ng-model="fc.fund.netvalue">
          </div>
        </div>
        <div class="row form-row">
          <div class="col-md-2">
            <label class="control-label">万份收益：</label>
          </div>
          <div class="col-md-4">
            <input class="form-control" type="number" step="0.00001" name="incomePerTenThousand"
                   ng-model="fc.fund.incomePerTenThousand">
          </div>
          <div class="col-md-2">
            <label class="control-label">七日年化：</label>
          </div>
          <div class="col-md-4">
            <input class="form-control" type="number" step="0.00001" name="percentSevenDays"
                   ng-model="fc.fund.percentSevenDays">
          </div>
        </div>
        <div class="row form-row">
          <div class="col-md-2">
            <label class="control-label">申购状态：</label>
          </div>
          <div class="col-md-4">
            <input class="form-control" type="number" name="purchaseState"
                   ng-model="fc.fund.purchaseState">
          </div>
          <div class="col-md-2">
            <label class="control-label">起购金额：</label>
          </div>
          <div class="col-md-4">
            <input class="form-control" type="number" step="0.00001" name="purchaseLimitMin"
                   ng-model="fc.fund.purchaseLimitMin">
          </div>
        </div>
        <div class="row form-row">
          <div class="col-md-2">
            <label class="control-label">货币基金：</label>
          </div>
          <div class="col-md-4">
            <input class="form-control" type="number" name="isMonetary"
                   ng-model="fc.fund.isMonetary">
          </div>
          <div class="col-md-2">
            <label class="control-label">短期理财：</label>
          </div>
          <div class="col-md-4">
            <input class="form-control" type="number" name="isStf"
                   ng-model="fc.fund.isStf">
          </div>
        </div>
        <div class="row form-row">
          <div class="col-md-2">
            <label class="control-label">赎回方式：</label>
          </div>
          <div class="col-md-4">
            <input class="form-control" type="number" name="rapidRedeem"
                   ng-model="fc.fund.rapidRedeem">
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button class="btn btn-warning" ng-click="closeThisDialog('close')">取消</button>
      </div>
    </form>
  </div>


</div>
