<div class="actions">
                        <span class="glyphicon glyphicon-edit" data-toggle="tooltip"
                              ng-click="rc.updateRole(row)" title="编辑"></span>
                        <span class="glyphicon glyphicon-remove" data-toggle="tooltip" ng-show="!row.entity.deleted"
                              ng-click="rc.deleteRole(row)" title="删除"></span>
                        <span class="glyphicon glyphicon-remove" data-toggle="tooltip" ng-show="row.entity.deleted"
                              title="删除"></span>
</div>