<div class="row" ng-controller="RoleCtrl as rc">

    <div class="row">
        <ol class="breadcrumb">
            <li><a>权限管理</a></li>
            <li class="active">角色管理</li>
        </ol>
    </div>

    <div class="well well-lg">

        <div class="alert alert-danger" ng-show="!!rc.error">
            <h4 class="alert-heading">操作失败</h4>
            <span ng-bind="rc.error.message.detail"></span>
        </div>
        <form class="form-inline" role="form">
            <div class="form-group">
                <label class="control-label">名称：</label>
                <input type="text" ng-enter="rc.findRoles()" class="form-control" ng-model="rc.pager.filter.LIKES_name" placeholder="名称">
                <label class="control-label">代码：</label>
                <input type="text" ng-enter="rc.findRoles()" class="form-control" ng-model="rc.pager.filter.LIKES_code" placeholder="代码">
            </div>

            <div>
                <p class="text-right">
                    <a class="btn btn-primary submit" ng-click="rc.findRoles()">查询</a>
                    <a class="btn btn-primary submit" ng-click="rc.createRole()">添加</a>
                </p>
            </div>
        </form>
        <div class="gridStyle" ng-grid="gridOptions" ng-page-changed="rc.findRoles()"></div>

    </div>

</div>

<script type="text/ng-template" id="roleSaveDialog">
  <div ng-include="'views/authority/role/save.html'"></div>

</script>
