<div class="row" ng-controller="RoleCtrl as rc" ng-init="rc.findTree()">

  <div class="dialog-contents">
    <div class="modal-header">
      <h4 class="modal-title">角色详情</h4>
    </div>
  </div>
  <form class="form-horizontal col-md-12" role="form" ng-submit="closeThisDialog(rc.tree)">
    <div class="alert alert-danger" ng-show="!!error">
      <h4 class="alert-heading">操作失败</h4>
      <span ng-bind="error.message.detail"></span>
    </div>
    <div class="modal-body col-md-12">
      <div class="row form-row">
        <div class="col-md-2">
          <label class="control-label">名称：</label>
        </div>
        <div class="col-md-4">
          <input class="form-control" ng-model="rc.role.name" name="name" required>
        </div>
        <div class="col-md-2">
          <label class="control-label">代码：</label>
        </div>
        <div class="col-md-4">
          <input class="form-control" ng-model="rc.role.code" name="code" required>
        </div>
      </div>
      <div class="row form-row">
        <div class="col-md-2">
          <label class="control-label">有效：</label>
        </div>
        <div class="col-md-4">
          <input type="checkbox" ng-model="rc.role.deleted" required>
        </div>
      </div>
      <div class="row form-row">

        <div class="col-md-2">
          <label class="control-label">描述：</label>
        </div>
        <div class="col-md-10">
                      <textarea class="form-control" ng-model="rc.role.desc">
                        </textarea>
        </div>
      </div>
      <div class="row form-row">
        <div class="col-md-2">
          <label class="control-label">资源：</label>
        </div>
        <div class="col-md-10">
          <div class="panel panel-default">
            <div class="panel-heading">资源</div>
            <div class="panel-body" style="height: 243px;overflow: auto;">
              <div class="tree">
                <ul>
                  <li ng-repeat="menu1 in rc.menus" ng-class="{closed:rc.tree.isFolded(menu1)}">
                    <div>
                      <input type="checkbox" ng-model="menu1.checked" ng-change="rc.tree.check(menu1, menu1.checked)"
                             ng-class="{intermediate: rc.tree.isSemiChecked(menu1)}"/>
                                  <span ng-click="rc.tree.toggleFold(menu1)">
                                    <span class="glyphicon"
                                          ng-class="rc.tree.isFolded(menu1)?'glyphicon-plus':'glyphicon-minus'"></span>
                                    {{menu1.name}}
                                  </span>
                    </div>
                    <ul ng-class="{hidden: rc.tree.isFolded(menu1)}">
                      <li ng-repeat="menu2 in menu1.items" ng-class="{closed:rc.tree.isFolded(menu2)}">
                        <input type="checkbox" ng-model="menu2.checked" ng-change="rc.tree.check(menu2, menu2.checked)"
                               ng-class="{intermediate: rc.tree.isSemiChecked(menu2)}"/>
                                    <span ng-click="rc.tree.toggleFold(menu2)">
                                      <span class="glyphicon"
                                            ng-class="rc.tree.isFolded(menu2)?'glyphicon-plus':'glyphicon-minus'"></span>
                                      {{menu2.name}}
                                    </span>
                        <ul ng-class="{hidden: rc.tree.isFolded(menu2)}">
                          <li ng-repeat="menu3 in menu2.items">
                            <name>
                              <input type="checkbox" ng-model="menu3.checked"
                                     ng-change="rc.tree.check(menu3, menu3.checked)"/>
                              {{menu3.name}}
                            </name>
                          </li>
                        </ul>
                      </li>
                    </ul>
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="modal-footer">
      <button class="btn btn-success">确定</button>
      <button class="btn btn-warning" ng-click="closeThisDialog('close')">取消</button>
    </div>
  </form>

</div>
