<div class="row" ng-controller="UserCtrl as uc" ng-init="uc.initSave()">
  <div class="dialog-contents">
    <div class="modal-header">
      <h4 class="modal-title">用户详情</h4>
    </div>

    <form role="form" class="form-horizontal" ng-submit="closeThisDialog('confirm')">
      <div class="alert alert-danger" ng-show="!!error">
        <h4 class="alert-heading">操作失败</h4>
        <span ng-bind="error.message.detail"></span>
      </div>
      <div class="modal-body col-md-12">
        <div class="row form-row">
          <div class="col-md-2">
            <label class="control-label">用户名：</label>
          </div>
          <div class="col-md-4">
            <input class="form-control" ng-model="uc.user.username" name="username" required>
          </div>
          <div class="col-md-2">
            <label class="control-label">密码：</label>
          </div>
          <div class="col-md-4">
            <input class="form-control" ng-model="uc.user.password" name="password" required>
          </div>
        </div>
        <div class="row form-row">
          <div class="col-md-2">
            <label class="control-label">姓：</label>
          </div>
          <div class="col-md-4">
            <input class="form-control" ng-model="uc.user.lastName" name="lastName">
          </div>
          <div class="col-md-2">
            <label class="control-label">名：</label>
          </div>
          <div class="col-md-4">
            <input class="form-control" ng-model="uc.user.firstName" name="firstName">
          </div>
        </div>
        <div class="row form-row">
          <div class="col-md-2">
            <label class="control-label">邮箱：</label>
          </div>
          <div class="col-md-4">
            <input class="form-control" ng-model="uc.user.email" name="email" required>
          </div>
          <div class="col-md-2">
            <label class="control-label">手机：</label>
          </div>
          <div class="col-md-4">
            <input class="form-control" ng-model="uc.user.telephone" name="telephone">
          </div>
        </div>
        <div class="row form-row">
          <div class="col-md-2">
            <label class="control-label">状态：</label>
          </div>
          <div class="col-md-4">
            <select class="form-control" ng-model="uc.user.status" required>
              <option value="" selected>请选择</option>
              <option value="Y">启用</option>
              <option value="N">禁用</option>
            </select>
          </div>
          <div class="col-md-2">
            <label class="control-label">有效：</label>
          </div>
          <div class="col-md-4">
            <input type="checkbox" ng-model="uc.user.deleted" required>
          </div>
        </div>
        <div class="row form-row">
          <div class="col-md-2">
            <label class="control-label">角色：</label>
          </div>
          <div class="col-md-4">
            <select class="form-control" data-placeholder="请选择"
                    ng-model="uc.user.roleIds"
                    ng-options="role.id as role.name for role in uc.roles"
                    chosen multiple class="form-control">
            </select>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button class="btn btn-success">确定</button>
        <button class="btn btn-warning" ng-click="closeThisDialog('close')">取消</button>
      </div>
    </form>

  </div>
</div>
