<div class="row" ng-controller="UserCtrl as uc">

  <div class="row">
    <ol class="breadcrumb">
      <li><a>权限管理</a></li>
      <li class="active">用户管理</li>
    </ol>
  </div>

  <div class="well well-lg">


    <form class="form-inline" user="form">
      <div class="form-group">
        <div class="input-group">
          <input type="text" class="form-control" ng-enter="uc.findUsers()" ng-model="uc.pager.filter.LIKES_username"
                 placeholder="用户名">
          <span class="input-group-btn">
            <button class="btn btn-default" type="button" ng-click="uc.findUsers()"><span class="glyphicon glyphicon-search"
                                                                aria-hidden="true"></span></button>
          </span>
        </div>
        <a class="btn btn-primary submit" ng-click="uc.createUser()">添加</a>
      </div>

    </form>
    <br>
    <div class="gridStyle" ng-grid="gridOptions" ng-page-changed="uc.findUsers()"></div>

  </div>

</div>

<script type="text/ng-template" id="userSaveDialog">
  <div ng-include="'views/authority/user/save.html'"></div>

</script>
