<div class="row" ng-controller="MessageRuleCtrl as dc " ng-init="dc.configurationData();dc.groupData()">

    <div class="row">
        <ol class="breadcrumb">
            <li><a>消息管理</a></li>
            <li><a ui-sref="dashboard.messageRule">消息规则</a></li>
            <li class="active">消息规则详情</li>
        </ol>
    </div>

    <div class="row">

        <div class="alert alert-danger" ng-show="!!dc.error">
            <h4 class="alert-heading">操作失败</h4>
            <span ng-bind="dc.error.message.detail"></span>
        </div>
        <div class="well well-lg " style="width: 100%;">
            <form class="form-horizontal" role="form" ng-submit="dc.saveMessPush()">
                <div class="row col-md-11 col-padding form-row">
                    <div class="col-md-2 form-label">
                        <label class="control-label">规则名称：</label>
                    </div>
                    <div class="col-md-2 col-padding">
                        <input class="form-control" type="text" name="name" required ng-model="dc.messageRule.name" >
                    </div>
                    <div class="col-md-2 form-label">
                        <label class="control-label">规则描述：</label>
                    </div>
                    <div class="col-md-5 col-padding">
                        <input class="form-control" type="text" name="description" required
                               ng-model="dc.messageRule.description" >
                    </div>
                </div>

                <div class="row col-md-11 col-padding form-row">

                    <div class="col-md-2 form-label">
                        <label class="control-label">规则编码：</label>
                    </div>
                    <div class="col-md-2 col-padding">
                        <input class="form-control" type="text" name="code" required
                               ng-model="dc.messageRule.code">
                    </div>
                    <div class="col-md-2 form-label">
                        <label class="control-label">推送标题：</label>
                    </div>
                    <div class="col-md-5 col-padding">
                        <input class="form-control" type="text" name="title" required
                               ng-model="dc.messageRule.title">
                    </div>
                </div>

                <div class="row col-md-11 col-padding form-row">
                    <div class="col-md-2 form-label">
                        <label class="control-label">消息中心显示：</label>
                    </div>
                    <div class="col-md-2 col-padding">
                        <select class="form-control" ng-model="dc.messageRule.msgCenterInd" required>
                            <option value="" selected>请选择</option>
                            <option value="Y">是</option>
                            <option value="N" selected>否</option>
                        </select>
                    </div>
                    <div class="col-md-2 form-label">
                        <label class="control-label">展示内容：</label>
                    </div>
                    <div class="col-md-5 col-padding">
                        <textarea class="form-control" name="content" ng-required="dc.messageRule.msgCenterInd === 'Y'"
                                  ng-model="dc.messageRule.content" />
                    </div>
                </div>

                <div class="row col-md-11 col-padding form-row">
                    <div class="col-md-2 form-label">
                        <label class="control-label">发送短信：</label>
                    </div>
                    <div class="col-md-2 col-padding">
                        <select class="form-control" ng-model="dc.messageRule.smsInd" required>
                            <option value="" selected>请选择</option>
                            <option value="Y">是</option>
                            <option value="N" selected>否</option>
                        </select>
                    </div>
                    <div class="col-md-2 form-label">
                        <label class="control-label">短信内容：</label>
                    </div>
                    <div class="col-md-5 col-padding">
                        <textarea class="form-control" name="contentSms" ng-required="dc.messageRule.smsInd === 'Y'"
                                  ng-model="dc.messageRule.contentSms" />
                    </div>
                </div>

                <div class="row col-md-11 col-padding form-row">
                    <div class="col-md-2 form-label">
                        <label class="control-label">推送：</label>
                    </div>
                    <div class="col-md-2 col-padding">
                        <select class="form-control" ng-model="dc.messageRule.pushInd" required>
                            <option value="" selected>请选择</option>
                            <option value="Y">是</option>
                            <option value="N" selected>否</option>
                        </select>
                    </div>
                    <div class="col-md-2 form-label">
                        <label class="control-label">推送内容：</label>
                    </div>
                    <div class="col-md-5 col-padding">
                        <textarea class="form-control" name="contentPush" ng-required="dc.messageRule.pushInd === 'Y'"
                                  ng-model="dc.messageRule.contentPush" maxlength="70" />
                    </div>
                </div>

                <div class="row col-md-11 col-padding form-row">
                    <div class="col-md-2 form-label">
                        <label class="control-label">有效标志：</label>
                    </div>
                    <div class="col-md-2 col-padding">
                        <select class="form-control" ng-model="dc.messageRule.status" required>
                            <option value="" selected>请选择</option>
                            <option value="Y">可用</option>
                            <option value="N" selected>删除</option>
                        </select>
                    </div>
                    <div class="col-md-2 form-label">
                        <label class="control-label">推送计划描述：</label>
                    </div>
                    <div class="col-md-5 col-padding">
                        <select class="form-control" ng-model="dc.messageRule.messagePushConfigId" required
                                ng-options="item.keys as item.value for item in constant.messPushConfigId" >
                            <option value="">-- 请选择 --</option>
                        </select>
                    </div>
                </div>

                <div class="row col-md-11 col-padding form-row">
                    <div class="col-md-2 form-label">
                        <label class="control-label">是否30天显示：</label>
                    </div>
                    <div class="col-md-2 col-padding">
                        <select class="form-control" ng-model="dc.messageRule.stayDayInd" required>
                            <option value="" selected>请选择</option>
                            <option value="Y">是</option>
                            <option value="N">否</option>
                        </select>
                    </div>
                    <div class="col-md-2 form-label">
                        <label class="control-label">群发组名：</label>
                    </div>
                    <div class="col-md-5 col-padding">
                        <select class="form-control" ng-model="dc.messageRule.groupId"
                                ng-options="item.keys as item.value for item in constant.groupId" >
                            <option value="">-- 请选择 --</option>
                        </select>
                    </div>
                </div>

                </br></br>
                <div class="row">
                    <div class="col-md-4 form-submit-btn">
                        <button type="submit" class="btn btn-success">确定</button>
                    </div>
                    <div class="col-md-3">
                        <a ui-sref="dashboard.messageRule" class="btn btn-warning">取消</a>
                    </div>
                </div>
             </form>
        </div>
    </div>

</div>