<div class="row" ng-controller="ReferrerCtrl as rc" ng-init="rc.pager.filter.EQS_mobile = rc.referrer.mobile">

    <div class="row">
        <ol class="breadcrumb">
            <li><a>统计管理</a></li>
            <li><a ui-sref="dashboard.referrer">推荐人</a></li>
            <li class="active">推荐人详情</li>
        </ol>
    </div>

    <div class="well well-lg">

        <div class="alert alert-danger" ng-show="!!rc.error">
            <h4 class="alert-heading">操作失败</h4>
            <span ng-bind="rc.error.message.detail"></span>
        </div>
        <form class="form-inline" role="form">
            <div class="row">
                <label class="control-label">购买：</label>
                <select class="form-control" ng-model="rc.pager.filter.EQS_tradeAmount">
                    <option value="" selected>请选择</option>
                    <option value=" > 0">已购买</option>
                    <option value=" IS NULL">未购买</option>
                </select>
            </div>
            <div>
                <p class="text-right">
                    <a class="btn btn-primary submit" ng-click="rc.findReferrerDetails()">查询</a>
                    <a ui-sref="dashboard.referrer" class="btn btn-warning">返回</a>
                </p>
            </div>
            <div class="row">
                <label class="control-label">推荐人手机号：</label>
                <input type="text" class="form-control"
                       ng-model="rc.referrer.mobile" disabled="true">
            </div>
        </form>
        <div class="gridStyle" ng-grid="referrerDetailOptions" ng-page-changed="rc.findReferrerDetails()" style="!height: 100px;"></div>
    </div>

</div>
