<div class="actions grid-operation-layout">
                        <span class="glyphicon glyphicon-edit operation-icon-layout" data-toggle="tooltip"
                              ng-click="dc.updateDict(row.entity)" title="编辑"></span>
                        <span ng-show="row.entity.status == 'Y'" class="glyphicon glyphicon-remove-circle operation-icon-layout"
                              data-toggle="tooltip"
                              ng-click="dc.disableDict(row.entity)" title="禁用"></span>
                        <span ng-show="row.entity.status == 'N'" class="glyphicon glyphicon-ok-circle operation-icon-layout" data-toggle="tooltip"
                              ng-click="dc.enableDict(row.entity)" title="启用"></span>
</div>
