<div class="row" ng-controller="DictCtrl as dc">
  <div class="dialog-contents">
    <form role="form" class="form-horizontal" ng-submit="closeThisDialog('confirm')">
      <div class="modal-header">
        <h4 class="modal-title">字典表详情</h4>
      </div>
      <div class="alert alert-danger" ng-show="!!error">
        <h4 class="alert-heading">操作失败</h4>
        <span ng-bind="error.message.detail"></span>
      </div>
      <div class="modal-body col-md-12">
        <div class="row form-row">
          <div class="col-md-2">
            <label class="control-label">类别：</label>
          </div>
          <div class="col-md-4">
            <input class="form-control" type="text" name="codeCat" required
                   ng-model="dc.dict.codeCat">
          </div>
          <div class="col-md-2">
            <label class="control-label">值：</label>
          </div>
          <div class="col-md-4">
            <input class="form-control" type="text" name="codeKey" required
                   ng-model="dc.dict.codeKey">
          </div>
        </div>

        <div class="row form-row">
          <div class="col-md-2">
            <label class="control-label">序号：</label>
          </div>
          <div class="col-md-4">
            <input class="form-control" type="number" name="seqNo" required
                   ng-model="dc.dict.seqNo">
          </div>
          <div class="col-md-2">
            <label class="control-label">状态：</label>
          </div>
          <div class="col-md-4">
            <select class="form-control" ng-model="dc.dict.status"
                    ng-options="item.key as item.value for item in dc.status">
            </select>
          </div>
        </div>
        <div class="row form-row">
          <div class="col-md-2">
            <label class="control-label">描述：</label>
          </div>
          <div class="col-md-10">
            <input class="form-control" type="text" name="codeVal" required
                   ng-model="dc.dict.codeVal">
          </div>
        </div>
        <div class="row form-row">
          <div class="col-md-2">
            <label class="control-label">图片：</label>
          </div>
          <div class="col-md-10">
            <input class="form-control" type="text" name="magic"
                   ng-model="dc.dict.magic">
          </div>
        </div>
        <div class="row form-row">
          <div class="col-md-2">
            <label class="control-label">注释：</label>
          </div>
          <div class="col-md-10">
                        <textarea class="form-control" type="text" name="remarks" ng-model="dc.dict.remarks">
                        </textarea>
          </div>

        </div>
      </div>
      <div class="modal-footer">
        <button class="btn btn-success">确定</button>
        <a class="btn btn-warning" ng-click="closeThisDialog('close')">取消</a>
      </div>
    </form>
  </div>
</div>
