<div class="row" ng-controller="DictCtrl as dc">

    <div class="row">
        <ol class="breadcrumb">
            <li><a ui-sref="dashboard.verifyCode">系统管理</a></li>
            <li><a ui-sref="dashboard.dict">字典表</a></li>
            <li class="active">字典表详情</li>
        </ol>
    </div>

    <div class="row">

        <div class="alert alert-danger" ng-show="!!dc.error">
            <h4 class="alert-heading">操作失败</h4>
            <span ng-bind="dc.error.message.detail"></span>
        </div>
        <form role="form" ng-submit="dc.saveDict()">
            <table>
                <tr>
                    <td>
                        <label class="control-label">类别：</label>
                    </td>
                    <td>
                        <input class="form-control" type="text" name="codeCat" required
                               ng-model="dc.dict.codeCat">
                    </td>

                    <td>
                        <label class="control-label">值：</label>
                    </td>
                    <td>
                        <input class="form-control" type="text" name="codeKey" required
                               ng-model="dc.dict.codeKey">
                    </td>
                </tr>
                <tr>
                    <td>
                        <label class="control-label">描述：</label>
                    </td>
                    <td colspan="3">
                        <input class="form-control" type="text" name="codeVal" required
                               ng-model="dc.dict.codeVal">
                    </td>
                </tr>
                <tr>
                    <td>
                        <label class="control-label">序号：</label>
                    </td>
                    <td>
                        <input class="form-control" type="number" name="seqNo" required
                               ng-model="dc.dict.seqNo">
                    </td>

                    <td>
                        <label class="control-label">状态：</label>
                    </td>
                    <td>
                        <select class="form-control" ng-model="dc.dict.status"
                                ng-options="item.key as item.value for item in dc.status">
                        </select>
                    </td>
                </tr>

                <tr>
                    <td>
                        <label class="control-label">图片：</label>
                    </td>
                    <td colspan="3">
                        <input class="form-control" type="text" name="magic"
                               ng-model="dc.dict.magic">
                    </td>
                </tr>
                <tr>
                    <td>
                        <label class="control-label">注释：</label>
                    </td>
                    <td colspan="3">
                        <textarea class="form-control" type="text" name="remarks" ng-model="dc.dict.remarks">
                        </textarea>
                    </td>
                </tr>
                <tr>
                    <td colspan="4" align="right">
                        <button type="submit" class="btn btn-success" >确定</button>
                        <a ui-sref="dashboard.dict" class="btn btn-warning">取消</a>
                    </td>
                </tr>
            </table>
        </form>
    </div>

</div>