<div class="navbar-default sidebar" role="navigation">
    <div class="sidebar-nav navbar-collapse">
        <ul class="nav in" id="side-menu">
            <!--<sidebar-search></sidebar-search>-->
            <li ng-repeat="menu1 in mc.user.menuVo.menuVos" ng-class="{active: mc.collapseVar==menu1.id}">
                <a href="" ng-click="mc.check(menu1.id)">
                    <span ng-bind="menu1.name"></span>
                    <span class="fa arrow"></span>
                </a>
                <ul class="nav nav-second-level" collapse="mc.collapseVar!=menu1.id">
                    <li ng-repeat="menu2 in menu1.menuVos" ui-sref-active="active">
                        <a href="{{ menu2.uri }}" ng-bind="menu2.name"></a>
                    </li>
                </ul>
            </li>
        </ul>
    </div>
    <!-- /.sidebar-collapse -->
</div>



