<div class="row" ng-controller="ParameterCtrl as pc">

    <div class="row">

        <ol class="breadcrumb">
            <li><a>系统管理</a></li>
            <li><a ui-sref="dashboard.parameter">参数表</a></li>
            <li class="active">参数表详情</li>
        </ol>
    </div>

    <div class="row">

        <div class="alert alert-danger" ng-show="!!pc.error">
            <h4 class="alert-heading">操作失败</h4>
            <span ng-bind="pc.error.message.detail"></span>
        </div>
        <div class="well well-lg container" style="width: 100%;">
            <form class="form-horizontal" role="form" ng-submit="pc.saveParameter()">

                <div class="row col-md-11 col-padding form-row">
                    <div class="col-md-3 form-label">
                        <label class="control-label">参数名：</label>
                    </div>
                    <div class="col-md-3 col-padding">
                        <input class="form-control" ng-model="pc.parameter.name" required>
                    </div>
                    <div class="col-md-3 form-label">
                        <label class="control-label">参数值：</label>
                    </div>
                    <div class="col-md-3 col-padding">
                        <input class="form-control" type="text" ng-model="pc.parameter.value" required>
                    </div>
                </div>


                <div class="row col-md-11 col-padding form-row">
                    <div class="col-md-3 form-label">
                        <label class="control-label">描述：</label>
                    </div>
                    <div class="col-md-9 col-padding">
                        <textarea class="form-control" type="text" ng-model="pc.parameter.description">
                        </textarea>
                    </div>

                </div>

                <div class="row">
                    <div class="col-md-6 form-submit-btn">
                        <button type="submit" class="btn btn-success">确定</button>
                    </div>
                    <div class="col-md-3">
                        <a ui-sref="dashboard.parameter" class="btn btn-warning">取消</a>
                    </div>
                </div>

            </form>
        </div>
    </div>

</div>
