<div class="row" ng-controller="ProductManageCtrl as pmc" ng-init="pmc.initSave()">
  <div class="dialog-contents">
    <div class="modal-header">
      <h4 class="modal-title">产品信息详情</h4>
    </div>
    <form class="form-horizontal" name="productForm" role="form" ng-submit="closeThisDialog('confirm')">
      <div class="alert alert-danger" ng-show="!!error">
        <h4 class="alert-heading">操作失败</h4>
        <span ng-bind="error.message.detail"></span>
      </div>
      <div class="modal-body col-md-12">
        <div class="row form-row">
          <div class="col-md-2">
            <label class="control-label">产品名称：</label>
          </div>
          <div class="col-md-4">
            <input class="form-control" disabled="true" ng-model="pmc.manage.productName" name="productName" required>
          </div>
          <div class="col-md-2">
            <label class="control-label">产品编码：</label>
          </div>
          <div class="col-md-4">
            <input class="form-control" disabled="true" ng-model="pmc.manage.productCode" name="productCode" required>
          </div>
        </div>
        <div class="row form-row">
          <div class="col-md-2">
            <label class="control-label">产品类型：</label>
          </div>
          <div class="col-md-4">
            <select class="form-control" ng-model="pmc.manage.productType" required
                    ng-options="item.catPointKey as item.codeVal for item in pmc.productTypes">
              <option value="" selected>请选择</option>
            </select>
          </div>
          <div class="col-md-2">
            <label class="control-label">产品状态：</label>
          </div>
          <div class="col-md-4">
            <select class="form-control" ng-model="pmc.manage.productStatus" required
                    ng-options="item.catPointKey as item.codeVal for item in pmc.productStatuses">
              <option value="" selected>请选择</option>
            </select>
          </div>
        </div>
        <div class="row form-row">
          <div class="col-md-2">
            <label class="control-label">上架时间：</label>
          </div>
          <div class="col-md-4">
            <div class="dropdown">
              <a class="dropdown-toggle" id="upBeginTime" role="button" data-toggle="dropdown" data-target="#">
                <div class="input-group">
                  <input class="form-control" value="{{pmc.manage.upBeginTime | date : 'yyyy-MM-dd'}}" required>
                  <span class="input-group-addon"><i class="glyphicon glyphicon-calendar"></i></span>
                </div>
              </a>
              <ul class="dropdown-menu" role="menu" aria-labelledby="dLabel">
                <datetimepicker ng-model="pmc.manage.upBeginTime"
                                datetimepicker-config="{ dropdownSelector: '#upBeginTime', minView : 'day'}"></datetimepicker>
              </ul>
            </div>
          </div>
          <div class="col-md-2">
            <label class="control-label">下架时间：</label>
          </div>
          <div class="col-md-4">
            <div class="dropdown">
              <a class="dropdown-toggle" id="downEndTime" role="button" data-toggle="dropdown" data-target="#">
                <div class="input-group">
                  <input class="form-control" value="{{pmc.manage.downEndTime | date : 'yyyy-MM-dd'}}" required>
                  <span class="input-group-addon"><i class="glyphicon glyphicon-calendar"></i></span>
                </div>
              </a>
              <ul class="dropdown-menu" role="menu" aria-labelledby="dLabel">
                <datetimepicker ng-model="pmc.manage.downEndTime"
                                datetimepicker-config="{ dropdownSelector: '#downEndTime', minView : 'day'}"></datetimepicker>
              </ul>
            </div>
          </div>
        </div>
        <div class="row form-row">
          <div class="col-md-2">
            <label class="control-label">推荐类型：</label>
          </div>
          <div class="col-md-4">
            <select class="form-control" ng-model="pmc.manage.recommendType" required
                    ng-change="pmc.handleRecommendType()"
                    ng-options="item.catPointKey as item.codeVal for item in pmc.recommendTypes">
              <option value="" selected>请选择</option>
            </select>
          </div>
          <div class="col-md-2">
            <label class="control-label">推荐标志：</label>
          </div>
          <div class="col-md-4">
            <select class="form-control" ng-model="pmc.manage.recommendFlag" required
                    ng-disabled="'FP.RECOMMEND.TYPE.1' === pmc.manage.recommendType"
                    ng-options="item.catPointKey as item.codeVal for item in pmc.recommendFlags">
              <option value="" selected>请选择</option>
            </select>
          </div>
        </div>
        <div class="row form-row">
          <div class="col-md-2">
            <label class="control-label">已购买人数：</label>
          </div>
          <div class="col-md-4">
            <input class="form-control" type="number" name="initBuyedCount" required
                   ng-model="pmc.manage.initBuyedCount">
          </div>
          <div class="col-md-2">
            <label class="control-label">月购买人数：</label>
          </div>
          <div class="col-md-4">
            <input class="form-control" type="number" name="oneMonthBuyedCount" required
                   ng-model="pmc.manage.oneMonthBuyedCount">
          </div>
        </div>
        <div class="row form-row">
          <div class="col-md-2">
            <label class="control-label">供应商：</label>
          </div>
          <div class="col-md-4">
            <select class="form-control" ng-model="pmc.manage.supplierCode"
                    ng-options="item.supplierCode as item.merchantName for item in pmc.suppliers">
              <option value="" selected>请选择</option>
            </select>
          </div>
          <div class="col-md-2">
            <label class="control-label">同步：</label>
          </div>
          <div class="col-md-4">
            <select class="form-control" ng-model="pmc.manage.isGrab" required disabled="true"
                    ng-options="item.key as item.value for item in pmc.status">
              <option value="" selected>请选择</option>
            </select>
          </div>
        </div>
        <div class="row form-row">
          <div class="col-md-2">
            <label class="control-label">推荐序号：</label>
          </div>
          <div class="col-md-4">
            <input class="form-control" type="number" name="url"
                   ng-model="pmc.manage.priorityLevel">
          </div>
        </div>
        <div class="row form-row">
          <div class="col-md-2">
            <label class="control-label">服务器地址：</label>
          </div>
          <div class="col-md-10">
            <input class="form-control" type="text" name="url"
                   ng-model="pmc.manage.url">
          </div>
        </div>
        <div class="row form-row">
          <div class="col-md-2">
            <label class="control-label">产品说明：</label>
          </div>
          <div class="col-md-10">
           <textarea class="form-control" type="text" name="productDesc"
                     ng-model="pmc.manage.productDesc">
                    </textarea>
          </div>
        </div>

      </div>
      <div class="modal-footer">
        <button class="btn btn-success"type="submit">确定</button>
        <a class="btn btn-warning" ng-click="closeThisDialog('close')">取消</a>
      </div>
    </form>

  </div>

</div>
