<div class="row" ng-controller="ProductManageCtrl as pmc" ng-init="pmc.initSave()">

    <div class="row">
        <ol class="breadcrumb">
            <li><a>产品管理</a></li>
            <li><a ui-sref="dashboard.product">产品信息</a></li>
            <li class="active">产品信息详情</li>
        </ol>
    </div>

    <div class="row">

        <div class="alert alert-danger" ng-show="!!pmc.error">
            <h4 class="alert-heading">操作失败</h4>
            <span ng-bind="pmc.error.message.detail"></span>
        </div>
        <form class="form-horizontal" user="form" ng-submit="pmc.saveProductManage()">
            <div class="row col-md-10 col-padding">

                <label class="col-md-2 col-padding control-label">产品名称：</label>

                <div class="col-md-4 col-padding">
                    <input disabled="true" class="form-control" type="text" name="productName" required
                           ng-model="pmc.manage.productName">
                </div>
                <label class="col-md-2 col-padding control-label">产品编码：</label>

                <div class="col-md-4 col-padding">
                    <input disabled="true" class="form-control" type="text" name="productCode" required
                           ng-model="pmc.manage.productCode">
                </div>
            </div>
            <div class="row col-md-10 col-padding">

                <label class="col-md-2 col-padding control-label">产品类型：</label>

                <div class="col-md-4 col-padding">
                    <select class="form-control" ng-model="pmc.manage.productType" required
                            ng-options="item.catPointKey as item.codeVal for item in pmc.productTypes">
                        <option value="" selected>请选择</option>
                    </select>
                </div>
                <label class="col-md-2 col-padding control-label">产品状态：</label>

                <div class="col-md-4 col-padding">
                    <select class="form-control" ng-model="pmc.manage.productStatus" required
                            ng-options="item.catPointKey as item.codeVal for item in pmc.productStatuses">
                        <option value="" selected>请选择</option>
                    </select>
                </div>
            </div>
            <div class="row col-md-10 col-padding">

                <label class="col-md-2 col-padding control-label">上架时间：</label>

                <div class="col-md-4 col-padding">
                    <div class="dropdown">
                        <a class="dropdown-toggle" id="upBeginTime" role="button" data-toggle="dropdown" data-target="#">
                            <div class="input-group">
                                <input class="form-control" value="{{pmc.manage.upBeginTime | date : 'yyyy-MM-dd'}}" required>
                                <span class="input-group-addon"><i class="glyphicon glyphicon-calendar"></i></span>
                            </div>
                        </a>
                        <ul class="dropdown-menu" role="menu" aria-labelledby="dLabel">
                            <datetimepicker ng-model="pmc.manage.upBeginTime"
                                            datetimepicker-config="{ dropdownSelector: '#upBeginTime', minView : 'day'}"></datetimepicker>
                        </ul>
                    </div>
                </div>
                <label class="col-md-2 col-padding control-label">下架时间：</label>

                <div class="col-md-4 col-padding">
                    <div class="dropdown">
                        <a class="dropdown-toggle" id="downEndTime" role="button" data-toggle="dropdown" data-target="#">
                            <div class="input-group">
                                <input class="form-control" value="{{pmc.manage.downEndTime | date : 'yyyy-MM-dd'}}" required>
                                <span class="input-group-addon"><i class="glyphicon glyphicon-calendar"></i></span>
                            </div>
                        </a>
                        <ul class="dropdown-menu" role="menu" aria-labelledby="dLabel">
                            <datetimepicker ng-model="pmc.manage.downEndTime"
                                            datetimepicker-config="{ dropdownSelector: '#downEndTime', minView : 'day'}"></datetimepicker>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="row col-md-10 col-padding">

                <label class="col-md-2 col-padding control-label">推荐类型：</label>

                <div class="col-md-4 col-padding">
                    <select class="form-control" ng-model="pmc.manage.recommendType" required ng-change="pmc.handleRecommendType()"
                            ng-options="item.catPointKey as item.codeVal for item in pmc.recommendTypes">
                        <option value="" selected>请选择</option>
                    </select>
                </div>
                <label class="col-md-2 col-padding control-label">推荐标志：</label>

                <div class="col-md-4 col-padding">
                    <select class="form-control" ng-model="pmc.manage.recommendFlag" required ng-disabled="'FP.RECOMMEND.TYPE.1' === pmc.manage.recommendType"
                            ng-options="item.catPointKey as item.codeVal for item in pmc.recommendFlags">
                        <option value="" selected>请选择</option>
                    </select>
                </div>
            </div>
            <div class="row col-md-10 col-padding">

                <label class="col-md-2 col-padding control-label">已购买人数：</label>

                <div class="col-md-4 col-padding">
                    <input class="form-control" type="number" name="initBuyedCount" required
                           ng-model="pmc.manage.initBuyedCount">
                </div>
                <label class="col-md-2 col-padding control-label">月购买人数：</label>

                <div class="col-md-4 col-padding">
                    <input class="form-control" type="number" name="oneMonthBuyedCount" required
                           ng-model="pmc.manage.oneMonthBuyedCount">
                </div>
            </div>
            <div class="row col-md-10 col-padding">

                <label class="col-md-2 col-padding control-label">供应商：</label>

                <div class="col-md-4 col-padding">
                    <select class="form-control" ng-model="pmc.manage.supplierCode"
                            ng-options="item.supplierCode as item.merchantName for item in pmc.suppliers">
                        <option value="" selected>请选择</option>
                    </select>
                </div>
                <label class="col-md-2 col-padding control-label">同步：</label>

                <div class="col-md-4 col-padding">
                    <select class="form-control" ng-model="pmc.manage.isGrab" required
                            ng-options="item.key as item.value for item in pmc.status">
                        <option value="" selected>请选择</option>
                    </select>
                </div>
            </div>
            <div class="row col-md-10 col-padding">

                <label class="col-md-2 col-padding control-label">推荐序号：</label>

                <div class="col-md-4 col-padding">
                    <input class="form-control" type="number" name="url"
                           ng-model="pmc.manage.priorityLevel">
                </div>
            </div>
            <div class="row col-md-10 col-padding">

                <label class="col-md-2 col-padding control-label">服务器地址：</label>

                <div class="col-md-10 col-padding">
                    <input class="form-control" type="text" name="url"
                           ng-model="pmc.manage.url">
                </div>
            </div>
            <div class="row col-md-10 col-padding">

                <label class="col-md-2 col-padding control-label">产品说明：</label>

                <div class="col-md-10 col-padding">
                    <textarea class="form-control" type="text" name="productDesc"
                              ng-model="pmc.manage.productDesc">
                    </textarea>
                </div>
            </div>
            <div class="row col-md-10 col-padding text-right">

                <div class="col-md-2 col-padding col-md-offset-10">
                    <button type="submit" class="btn btn-success">确定</button>
                    <a ui-sref="dashboard.product" class="btn btn-warning">取消</a>
                </div>

            </div>
        </form>
    </div>

</div>
