<div class="row" ng-controller="SupplierCtrl as sc">

    <div class="row">
      <ol class="breadcrumb">
        <li><a ui-sref="dashboard.supplier">系统管理</a></li>
        <li class="active">供应商</li>
      </ol>
    </div>

    <div class="well well-lg">

        <div class="alert alert-danger" ng-show="!!sc.error">
            <h4 class="alert-heading">操作失败</h4>
            <span ng-bind="sc.error.message.detail"></span>
        </div>
        <div class="middle-layout">
            <form class="form-inline" role="form">
                <div class="form-group">
                    <label class="control-label">供应商编号：</label>
                    <input type="text" ng-enter="sc.findSuppliers()" class="form-control" ng-model="sc.pager.filter.LIKES_supplierCode" placeholder="供应商编号">
                    <label class="control-label">商家名称：</label>
                    <input type="text" ng-enter="sc.findSuppliers()" class="form-control" ng-model="sc.pager.filter.LIKES_merchantName" placeholder="商家名称">
                    <a class="btn btn-primary submit" ng-click="sc.findSuppliers()">查询</a>
                    <a class="btn btn-primary submit" ng-click="sc.createSupplier()">添加</a>
                </div>
            </form>
        </div>
        <div class="gridStyle" ng-grid="gridOptions" ng-page-changed="sc.findSuppliers()"></div>

    </div>

</div>
