<div class="row" ng-controller="SmsMessageCtrl as ctrl" ng-init="ctrl.init()" ng-app="formApp" ng-controller="formController">

    <div class="row">
      <ol class="breadcrumb">
      <li><a ui-sref="dashboard.sms">系统管理</a></li>
      <li class="active"> 短信统计</li>
    </ol>
    </div>

    <div class="row">
        <form class="form-inline" name="form" id="smsMessageForm" role="form" target="_blank" method="post">
            <div class="col-md-12">
                <div>
                    <label class="control-label">发送状态：</label>
                    <select class="form-control" ng-model="ctrl.pager.filter.EQS_sendStatus" name="EQS_sendStatus">
                        <option value="">全部</option>
                        <option value="Y">成功</option>
                        <option value="N">失败</option>
                    </select>
                </div>
                <div>
                    <label class="control-label">发送日期：</label>
                    <input ui-date ng-model="ctrl.pager.filter.GED_beginTime" name="GED_beginTime">
                    <label class="control-label">至：</label>
                    <input ui-date ng-model="ctrl.pager.filter.LTD_endTime" name="LTD_endTime">
                    <a class="btn btn-primary submit" ng-click="ctrl.findSmsMessageVos()">查询</a>
                    <button class="btn btn-primary submit" onclick="exportExcel();">导出excel</button>
                </div>
            </div>
        </form>
    </div>


    <div class="gridStyle" ng-grid="gridOptions"></div>

    <div class="text-right">
        <label class="control-label">总条数累计：{{ctrl.allCount}}</label>
    </div>

</div>
